* {
  margin: 0;
  padding:0;
  top: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  width: 100vw;
  height: 100vh;
}
.corona {
  width: 100%;
  height: 100%;
  transform: scale(1);
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.container { 
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/3D_medical_animation_corona_virus.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  /* background-color: rgb(162, 189, 240); */
}
.myChart{
    height:50%;
    width:100%;
background-color:rgb(172, 144, 144)
}

.inner {
    width:100%;
  height: 100%;
  transform: scale(0);
 background-color: rgba(222, 239, 245, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
input[type="button"] {
  background-color: rgba(173, 216, 230, 0.596);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 5px 40px;
  font-size: 16px;
  cursor: pointer;
}
input[type="button"]:active {
  transform: scale(0.96);
}
.cont{
margin-bottom:30%
}
.info-country{
    display:flex;
    width:100%;
justify-content: center; 
flex-wrap: wrap;
}
.butn{
    border:1px solid black;
    border-radius: 3px;
    margin:3%;
    padding:3px
}
.butn > p{
text-decoration: underline;
font-weight: 900;
font-size: 1.1rem
}
.num1, .num2, .num3, .num4, .num5, .num6{
    color:rgb(175, 18, 18);
    text-decoration:none;

}